<script setup lang="ts">
import axios from 'axios';
import { ref } from 'vue';

const logged = ref('');

async function amILogged() {
  try{

    const response = await axios.get('/api/protected');
    console.log(response.data);
    logged.value = 'Yes, you are logged. From server : '+response.data;
  }catch(error) {
    logged.value = 'Nope, not logged';
  }

}
</script>

<template>
  <main>
    <button @click="amILogged()">Am I Logged ?</button>
    <p>{{ logged }}</p>
  </main>
</template>
