<template>

    <form @submit.prevent="handleLogin()">
        <label>Email :
            <input type="email" v-model="credentials.email">
        </label>
        <label>Password :
            <input type="password" v-model="credentials.password">
        </label>
        <button>Login</button>
    </form>
</template>

<script setup lang="ts">
import { useAuthStore } from '@/stores/auth';
import { ref } from 'vue';

const store = useAuthStore();

const credentials = ref({email:'', password:''})

async function handleLogin() {
    await store.login(credentials.value);
    console.log('done');
}

</script>