<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import { useAuthStore } from './stores/auth';

const auth = useAuthStore();
</script>

<template>
  <header>
    <p v-if="auth.user">
      Connected as {{ auth.user.email }}
      <button @click="auth.logout()">Logout</button>
    </p>
    <div class="wrapper">

      <nav>
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/login">Login</RouterLink>
      </nav>
    </div>
  </header>

  <RouterView />
</template>

<style scoped>

</style>
